/* Styles adjusting VitePress according to theme */
:root {
    --a-background: 0, 0%, 100%;
    --vp-c-text-1: hsla(var(--base-color), var(--text-emphasis-medium-opacity));
    --vp-c-bg: hsl(var(--a-background));
    --vp-c-bg-alt: hsl(var(--a-background));
}

/* ==========================
SECTION VitePress
========================== */

#VPSidebarNav .group+.group {
    border-top: none !important;
}

.VPNavBarTitle.has-sidebar {
    border-bottom: none !important;
}

.VPNavBar.has-sidebar .container {
    border-bottom: thin solid hsla(var(--base-color), var(--border-opacity));
}

.VPNavBar.has-sidebar .content {
    /* background: hsla(250, 10%, 6%, .7) !important; */
    background: hsla(var(--a-background), 0.7) !important;
}

/* ==========================
👉 Sidebar scrollbar style
========================== */

.VPSidebar::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

/*
    Enable below style for styled scrollbar
*/
/* .VPSidebar::-webkit-scrollbar {
    background: rgb(var(--layer));
    block-size: 8px;
    border-end-end-radius: 14px;
    border-start-end-radius: 14px;
    inline-size: 8px;
} */

/* Track */
/* .VPSidebar::-webkit-scrollbar-track {
    background: transparent;
} */

/* Handle */
/* .VPSidebar::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 10%);
    border-radius: 0.5rem;
} */

/* .VPSidebar::-webkit-scrollbar-corner {
    display: none;
} */


/* ==========================
👉 Dark
========================== */

:root.dark {
    --vp-c-bg-alt: hsl(var(--a-base-hue), 0%, 6%);
    --vp-code-line-highlight-color: hsl(0, 0%, 12%);
}

/* code blocks */
.vp-doc div[class*='language-']:not(:where(.vp-raw *)) {
    border: 1px solid transparent;
}

.dark .vp-doc div[class*='language-']:not(:where(.vp-raw *)) {
    border: 1px solid hsla(var(--base-color), var(--border-opacity));
    opacity: 0.85;
    font-weight: 500;
}

/* ==========================
👉 Demo
========================== */

.cards-demo-container {
    /* rounded-lg border-dashed border border-app p-8 bg-[hsla(var(--base-color), .05)] */
    @apply rounded-lg border-dashed border border-app p-8;
    background: hsla(var(--base-color), 0.05);
}

/* !SECTION */