/*
  Prevent scroll lock
  
  Thanks: Quasar.
  I have also taken inspiration from Quasar framework which makes it super easy to handle scrollbar jerk
*/
html.scroll-lock {
  position: fixed;
  overflow-y: scroll;
  top: var(--window-scroll-top);
  width: 100%;
}
